extends layout.pug

block scripts
    link(rel='stylesheet', href='/css/user.css')
block content    
  body
    div(class='row')
        div(class='col m4 offset-m4 characterSummary' style='background-image: url(https://www.bungie.net/' + characterSummary.backgroundPath +');')  
            img(src='https://www.bungie.net/' + characterSummary.emblemPath )
            div(class='characterName')
                strong #{characterSummary.characterBase.raceName} #{characterSummary.characterBase.className}
                span(class='lightLevel') #{characterSummary.characterBase.powerLevel}
    div(class='row')
        div(class='col m8 offset-m2 raidStats')
            