extends layout.pug

block content    
  body
    div(class='row')
        div(class='medium-4 medium-offset-4 columns') 
            h1 #{message}
    div(class='row')
        div(class='medium-4 columns') 2 columns
        div(class='medium-8 columns') 8 columns