extends layout.pug

block content    
  body
    div(class='row')
        div(class='medium-4 medium-offset-4 columns') 
            h1 #{message}
    div(class='row')
        div(class='medium-6 medium-offset-3 columns')
            form(action='/user', method='POST', enctype='application/x-www-form-urlencoded')
                div(class='row')
                    div(class='medium-12 columns')
                        label
                            input(type='text' id="gamertag" name='gamertag' placeholder='Enter Gamertag')