html
  head
    title Destiny - #{title}
    block scripts
        link(rel='stylesheet', href='/css/foundation.css')
        script(src='/js/what-input.js')
        script(src='/js/foundation.js')
  body
    block content
    block footer
      #footer
        div(class='row')
            div(class='medium-4 medium-offset-4 columns')
                p(class='text-center') Some Footer Content
    script(src='/js/jquery.js') 
    script(src='../node_modules/materialize-css/dist/js/materialize.min.js')