html
  head
    title Destiny - #{title}
    link(rel='stylesheet', href='/materialize-css/dist/css/materialize.min.css')
    block scripts
  body
    div(class='container')
      block content
    block footer
      #footer
        div(class='row')
            div(class='col m4 m-offset-4')
                p(class='text-center') Some Footer Content
    script(src='/js/jquery.js') 
    script(src='/materialize-css/dist/js/materialize.min.js')