extends layout.pug

block content    
  body
    div(class='row')
        each characterSummary in characterSummaries
            div(class='medium-4 columns')  
                p characterSummary.characterBase.genderName
                p characterSummary.characterBase.raceName
                p characterSummary.characterBase.className
            